.searchForm {
  margin-bottom: 20px;
}

.searchInput {
  width: 70%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px 0 0 4px;
}

.searchButton {
  width: 30%;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.searchButton:hover {
  background-color: #0056b3;
}

@media (max-width: 1024px) {
  .searchInput,
  .searchButton {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .searchForm {
    display: flex;
  }
  .searchInput,
  .searchButton {
    width: 50%;
    font-size: 14px;
  }
}
